@mixin inputs-stylizing($width, $background-color, $border, $padding, $text-align, $color, $border-radius) {
  width: $width;
  background-color: $background-color;
  border: $border;
  padding: $padding;
  text-align: $text-align;
  color: $color;
  border-radius: $border-radius;
}

form {
  max-width: 50rem;
  margin: 0 auto;
  padding: 0 1rem 1rem 1rem;
  background-color: #1f1f1f;
  box-shadow: 0 4px 16px -2px rgba(0, 0, 0, 0.25);
  border-radius: 0.3rem;
  font-weight: 500;

  fieldset {
    border-radius: 0.3rem;
    padding: 1rem;
    width: 100%;

    legend {
      text-align: center;
      padding: 0 0.4rem;
    }
  }

  .gridForm {
    display: grid;
    row-gap: 1rem;
    place-items: center;
    grid-template-columns: repeat(2, 1fr);
  }

  div {
    display: flex;
    flex-direction: column;

    input,
    select {
      @include inputs-stylizing(13rem, #303030, none, 0.5rem 0.3rem, start, #fff, 0.2rem);
    }
  }
}

.formControl {
  .description {
    max-width: 25rem;
    padding: 0 0.5rem;
    height: 4rem;
    color: #fff;
    background-color: #303030;
    border: none;
    border-radius: 0.2rem;
    font-size: 1.2rem;
  }

  .buttonSave {
    padding: 0.4rem 0;
    font-weight: 600;
    cursor: pointer;
    margin-top: 0.4rem;
    border: none;
    width: 5rem;
    color: #212121;
    border-radius: 0.1rem;
    z-index: 1;
    background: #e8e8e8;
    position: relative;
    font-size: 1rem;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 0.2s;
    overflow: hidden;

    &:hover {
      color: #e8e8e8;
    }

    &:hover::before {
      width: 100%;
    }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 0;
      background-color: #121212;
      z-index: -1;
      -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
      box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
      transition: all 250ms;
    }
  }
}

@media screen and (max-width: 450px) {
  form {
    .gridForm {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

@media screen and (max-width: 426px) {
  form {
    .row {
      display: grid;
      place-content: center;
      grid-template-columns: repeat(1, 1fr);

      select {
        height: 2rem;
      }
    }
  }
}
