.tabs {
  display: flex;
  gap: 2rem;
  border-bottom: 1px solid #fefefe;
  margin: 1rem 0;

  .tab {
    padding: 1rem;
    color: #fefefe;
    text-decoration: none;
    font-weight: 550;
    position: relative;
    transition: 0.2s;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 0;
      height: 3px;
      background-color: #fefefe;
      color: #858585;
      transition: width 0.2s ease-in-out, left 0.2s ease-in-out;
    }
  }
}

.tab.active,
.tab:hover {
  color: #858585;
}

.tab.active::after {
  width: 100%;
  left: 0;
}
